body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
    font-size: 2.5em;
    text-align: center;
    padding: 50px;
}

#robot {
    margin: 0 auto;
    padding-top: 40px;
}

#head {
    background-color: #097439;
    margin: 0 auto;
    height: 350px;
    border-radius: 15%;
    width: 350px;
}

.eyes {
    background-color: #5233ec;
    width: 7%;
    height: 12%;
    border-radius: 50%;
    margin-top: 3%;
}

.arms {
    background-color: #cfcf92;
    top: 45%;
}

#left-arm {
    position: absolute;
    right: 28%;
    width: 12%;
    height: 50px;
    top: 42%;
    
}

#right-arm {
    position: absolute;
    left: 37%;
    width: 3%;
    height: 300px;
    top: 42%;
}

#nose {
    background-color: black;
    position: absolute;
    top: 35%;
    right: 30%;
    width: 10%;
    height: 45px;
    left: 47%;
}

#mouth {
    background-color: red;
    position: absolute;
    left: 20%;
    right: 40%;
    top: 70%;
    width: 220px;
    height: 35px;
}

#right-eye {
    position: absolute;
    left: 25%;
    top: 10%;
    background-color: red;
}

#left-eye {
    position: absolute;
    right: 25%;
    top: 10%;
}

#body {
    background-color: #ececa0;
    width: 350px;
    height: 360px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 2%;
}